$btn-size: 40px; 
$btn-bg-color: rgba(50,50,50,0.7);
$btn-bg-color-active: rgba(180,180,180,0.7);
$btn-bg-color-hover: rgba(220,220,220,0.7);
$btn-color: #ffffff;
$btn-color-hover: yellow;

$footer-color-text: #aaaaaa;