.error {
  display: inline-block;
  position: relative;
  margin: 0 5px 5px 0;
  padding: 5px 30px 5px 15px;
  background: #ffdddd;
  border-radius: 10px;
  &__text {
    color: #ff0000;
  }
  &__clear {
    position: absolute;
    top: 0;
    right: 5px;
    padding: 5px;
    border: 0;
    background: transparent;
  }
}